<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stlye.css">
</head>
<body>
   <header>
       <img src="/images/logo-mercado-liebre.svg" alt="">
       <p> Lugar para poner barra de busqueda </p>
       <p> Compra en cuotas y sin tarjeta de crédito </p>
       <div> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</il>
                <li>Ayuda</li>
            </ul>
       </div>
       <div>
            <ul>
               <li>Creá tu cuenta</li>
               <li>Ingresá</li>
               <li>Mis Compras</li>
            </ul>
       </div>
    </header>
    <main>
        <h2>Basado en tu última visita</h2>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3 font-weight="bold"> Cafetera Moulinex</h3>
        </div>
    </main>
</body>
</html>