<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <header>
       <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
       <article class="barra-de-busqueda"> <form action="" method="post"> <input type="text" name="search-bar" placeholder="Buscar productos, marcas"><p><div class="lupa"></div><i class="fa-solid fa-magnifying-glass"></i> </p></div></article>
       <p class="centrado"> <i class="fa-solid fa-hand-holding-dollar"></i>  Compra en cuotas y sin tarjeta de crédito </p>
       <nav> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</il>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav>
            <ul>
               <li> <a href="./views/register.html"> Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
               <li> <a href="./views/login.html"> Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
               <li>Mis Compras <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2>Basado en tu última visita</h2>
    <section class="productos">
        <section class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <div class ='detalles-producto'><article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$6.770</article>
            <article class="descuentos">40% OFF</article>
            <h3 font-weight="bold"> Cafetera Moulinex</h3> 
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <div class ='detalles-producto'><article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$230.000</article>
            <article class="descuentos">20% OFF</article>
            <h3 font-weight="bold"> MacBook Pro 2019</h3>
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <div class ='detalles-producto'>
            <article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$70.500</article>
            <article class="descuentos">10% OFF</article>
            <h3 font-weight="bold"> Samsung Galaxy S10</h3>
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <div class ='detalles-producto'> 
            <article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$23.200</article>
            <article class="descuentos">5% OFF</article>
            <h3 font-weight="bold"> SmartTv Samsung 43"</h3>
            </div>
        </section>
    </section>
        <h2>Sección de Ofertas</h2>
    <section class="productos">
        <section class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <div class ='detalles-producto'><article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$6.770</article>
            <article class="descuentos">40% OFF</article>
            <h3 font-weight="bold"> Cafetera Moulinex</h3> 
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <div class ='detalles-producto'><article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$230.000</article>
            <article class="descuentos">20% OFF</article>
            <h3 font-weight="bold"> MacBook Pro 2019</h3>
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <div class ='detalles-producto'>
            <article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$70.500</article>
            <article class="descuentos">10% OFF</article>
            <h3 font-weight="bold"> Samsung Galaxy S10</h3>
            </div>
        </section>
        <section class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <div class ='detalles-producto'> 
            <article class='envio'><i class="fa-solid fa-truck"></i></article>
            <article class="precios">$23.200</article>
            <article class="descuentos">5% OFF</article>
            <h3 font-weight="bold"> SmartTv Samsung 43"</h3>
            </div>
        </section>
    </section>
    </main>
    <footer class="centrado">
        <div class="logos-footer"><i class="fa-solid fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <div class="logos-footer"><i class="fa-solid fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        <div class="logos-footer"><i class="fa-solid fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que estás siempre protegid@</p>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3>
    </footer>
</body>
</html>