<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Crea Tu Cuenta</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-login.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header-top-bar">
         <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
         <article class="barra-de-busqueda"><form action="" method="post"> <input type="text" name="search-bar" placeholder="Buscar productos, marcas..."></form><div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div></article>
         <p class="centrado"> <i class="fa-solid fa-hand-holding-dollar"></i>  Compra en cuotas y sin tarjeta de crédito </p>
        </div>
        <div class="main-header-bottom-bar">
         <nav class="main-navbar"> 
                 <ul>
                     <li>Ofertas</li>
                     <li>Tiendas Oficiales</li>
                     <li>Vender</il>
                     <li>Ayuda</li>
                 </ul>
         </nav>
         <nav class="right-navbar">
                 <ul>
                 <li> <a href="./register.html"> Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                 <li> <a href="./login.html"> Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                 <li>Mis Compras <i class="fa-solid fa-basket-shopping"></i></li>
                 </ul>
         </nav>
        </div>     
        <div class="burger-menu">
         <i class="fas fa-bars"></i>
         </div>
     </header>
    <main>
        <form action="" method="post">
            <p>
               <input type="text" name="usuario" placeholder="Usuario">
            </p>
            
            <p>
               <input type="password" name="contraseña" placeholder="Contraseña">
            </p>

            <a href="./index.html"><button type="submit" name="ENVIAR">Enviar</button></a>
        </form>
    </main>
    <footer class="centrado">
        <section class="info-footer">
            <div class="logos-footer"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="info-footer">
            <div class="logos-footer"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section class="info-footer">
            <div class="logos-footer"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que estás siempre protegid@</p>
        </section>
        <section class="copyright"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3></section>
    </footer>
</body>