*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav{
    display: none;
}
li{
    color: #222222;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    
    padding: 5px 0px;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 3.5vh;
    border: none;
    border-radius: 5px;
}
.main-header-top-bar{
    width: 100%;
    border: dotted 1px #222222;
    margin-top: 5vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    width: 50%;
    border-bottom: none;
}

.burger-menu{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #1259c3;
    color: #fff;
    display: block;
}
.barra-de-busqueda{
    width: 50%;
}
.lupa{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 22px;
    height: 22px;
    border: solid 0.1px #666;
    background-color: #ebebeb;
    color: #000000;
}
.centrado{
    text-align: center;
    width: 100%
    
}
@media (min-width: 361px) {
    .centrado{
        text-align: right;
        justify-content: center;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .main-header-bottom-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    ul{
        display: flex;
    }
    li{
        margin: 0 5px;
    }
    .burger-menu{
        display: none;
    }
   
}