*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    background-color: #ebebeb;
    margin: auto;
    width: 90%;
}
input{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 2px

}
label{
    font-weight: bold;
    font-size: 5vh;

}
button{
    width: 90%;
    height: 30px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto;
    margin: 5%;
    margin-bottom: 2px;
    margin-top: 3px;    
}
p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.botones{
    margin:auto;
    justify-content: center;
    display: block;
    
    }
.radio{
    display: block;
}