*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav{
    display: none;
}
h2{
    margin-left: 2.5%;
    font-size: 24px;
}
p{
    font-size: 12px;
}
main{
    background-color: #ebebeb;
    margin: auto;
    width: 90%;
}
section{
    position: relative;
    margin-left: 2.5%;
    width: 95%;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 15px;
}
img{
    border-bottom: solid 1px #ebebeb;
    width: 100%;
}
h3{
    display: none;
    font-size: 16px;
    width: 100%;
}
footer{
    background-color: #fff;
}
.logo{
    width: 50%;
    border-bottom: none;
}

.envio{
    width: 30px;
    height: 30px;
    color: #17db62;
    border: solid 1px #17db62;
    border-radius: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    position: absolute;
    right: 15%;
    top: -38%;
    padding: 5px;
}
.detalles-producto{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.precios{
    font-size: 18px;
    width: 30%;
}
.descuentos{
    font-size: 16px;
    color: #17db62;
   width: 70%;
    
}
.burger-menu{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #1259c3;
    color: #fff;
    display: block;

}
.barra-de-busqueda{
    width: 50%;
}
.lupa{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 25px;
    height: 25px;
    border: solid 0.1px #666;
    background-color: #ebebeb;
    color: #000000;
}
.centrado{
    text-align: center;
    width: 100%
}
.logos-footer{
    size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}
@media (min-width: 361px) {
    h3{
        display: block;
    }
    .logo {
        width: 33.333%
    }
    .barra-de-busqueda{
        width: 33.333%
    }
    .centrado{
        width: 33.300%
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producto{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav{
        display: block
    }
    ul{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row
    }
    .burger-menu{
        display: none;
    }
   
}

@media (min-width: 769px) {
    h3{
        display: block;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .producto{
        width: 22.5%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav{
        display: block;
    }
    .burger-menu{
        display: none;
    }
   
}
