*{
    box-sizing: border-box;
}
header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 24px;
}
p{
    font-size: 12px;
}
main{
    background-color: #ebebeb;
}
section{
    margin: auto;
    width: 90%;
    background-color: #ffffff;
    margin-top: 10px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
h3{
    font-size: 16px;
}
.burger-menu{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #1259c3;
    color: #fff;
}
.barra-de-busqueda{
    margin: auto;
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    width: 25px;
    height: 25px;
    border: solid 0.1px #666;
    background-color: #ebebeb;
    color: #000000;
}
.centrado{
    text-align: center;
}
footer{
    background-color: #fff;
}
.logos-footer{
    size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}